---
const {width, height} = Astro.props;
const socialLinks = [
	{
		title: 'LinkedIn',
		icon: 'simple-icons:linkedin',
		color: '#E1B3A5',
		href: 'https://www.linkedin.com/in/vanessa-da-s-santos-aa4a29267/',

	},
	{
		title: 'Instagram',
		icon: 'mdi:instagram',
		color: '#E1B3A5',
		href: 'https://www.instagram.com/_n3ss4.jpg/#',

	},
	{
		title: 'CV',
		icon: 'tabler:file-cv',
		color: '#E1B3A5',
		href: '../docs/cv_vanessa_santos.pdf',

	},
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
					style={`color: ${data.color || '#dcd8fc'}`}
                />
            </a>
        ))
    }
</div>

<style>
	.icons__container {
		display: flex;
    width: 29.6rem;
    /* padding: 1.3rem 4rem; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.skill__icon{
	color:#dcd8fc;
}

	.LinkedIn:hover{
		color: #0e76a8;
	}
	.Instagram:hover{
	color: #E1306C;
	}
	.Tiwtter:hover{
	color: #0aa5f6;
	}
	.CV:hover{
		color:#8e64ff;
	}



</style>